@model Driving_License.ViewModels.QuizViewModels;
@using Driving_License.Models;
@{
    ViewData["Title"] = Model.CurrentQuiz.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool hasImage = !string.IsNullOrEmpty(@Model.CurrentQuestion.QuestionImage) &&
    !@Model.CurrentQuestion.QuestionImage.Equals("none");
    var currentAnswerID = (string.IsNullOrEmpty(@Model.AnswerIDString)) ? -1 : int.Parse(@Model.AnswerIDString);
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--custom css file-->
    <link rel="stylesheet" href="~/css/styleQuizPage.css">
    <!--icon-->
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/4832/4832401.png">
    <script>
        function CreateQuizData() {
            const QuizData = {
                QuestionID: @Model.CurrentQuestion.QuestionId,
                CurrentQuestionID: @Model.CurrentQuestion.QuestionId,
                AnswerId: getAnswerID()
            };
            return QuizData;
        }
        var currentQuestionID = @Model.CurrentQuestion.QuestionId;
        var currentAnswerID = @currentAnswerID;
        console.log('Current answerid: ' + currentAnswerID);
    </script>
    <script defer src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Quiz</title>
</head>

<body>
    <div class="container-fluid" style="margin-top: 100px;">
        <div class="row">
            <aside class="question-section hidden-load shadow-lg p-3 mb-5 bg-body-tertiary rounded col-md-8">
                <section class="title hidden-load" style="font-size: xx-large;">
                    <span class="quiz-name">@Model.CurrentQuiz.Name</span>
                    <span class="time-bar">Thời gian còn lại: <span class="time" id="time">20:00</span></span>
                </section>
                <section class="warning" style="color: red;">
                    Bài thi sẽ kết thúc khi hết thời gian làm bài hoặc khi bạn nhấn "Nộp bài"
                </section>
                <h4 class="info mt-3 hidden-load">Số câu đã làm: <span class="question-num badge text-bg-success">@Model.AnsweredQuestionCount câu</span></h4>
                <section class="quiz-buttons mt-3 hidden-load">
                    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Xem câu hỏi</button>
                    <button class="btn btn-danger submit-button">Nộp bài</button>
                </section>
                <section class="question-content mt-4 hidden-load">
                    <h5 class="question-description">@Model.CurrentQuestion.QuestionText</h5>
                    <div class="question-image">
                        @if (hasImage)
                        {
                            <img src="@Model.CurrentQuestion.QuestionImage" class="img-fluid" alt="">
                        }
                        else
                        {
                            <img src="https://i.pinimg.com/originals/ae/8a/c2/ae8ac2fa217d23aadcc913989fcc34a2.png"
                                class="img-fluid" alt="">
                        }
                    </div>
                    <div class="question-answers" style="font-size: large;">
                        @foreach (var answer in @Model.CurrentQuestion.Answers)
                        {
                            <div class="form-check">
                                <input type="radio" class="form-check-input answer-input" name="answer"
                                    id="@answer.AnswerId">
                                <label for="@answer.AnswerId" class="form-check-label">@answer.AnswerText</label>
                            </div>
                        }
                    </div>
                </section>
            </aside>
            <aside class="quiz-select-section col-md-4 offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
                aria-labelledby="offcanvasRightLabel">
                <!--question is done: change class name from btn-outline-primary to btn-success-->
                @for (int i = 1; i <= @Model.CurrentQuiz.Questions.Count(); ++i)
                {
                    <button class="btn btn-outline-primary question_button"
                        quesid="@Model.CurrentQuiz.Questions.ElementAt(@i - 1).QuestionId" cnt="@i">Câu @i</button>
                }
            </aside>
        </div>
    </div>
    <script src="~/js/QuizFunctions.js"></script>
</body>

</html>