@using L2D_DataAccess.Models;
@model L2D_DataAccess.ViewModels.PageResult<Quiz>
@{
    ViewData["Title"] = "L2D - Thi lý thuyết thử";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var quizList = Model.Items as List<Quiz>;
    var licenseid = ViewBag.licenseid as string;
    var status = ViewBag.status as string;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--custom css file-->
    <link rel="stylesheet" href="~/css/styleSelectQuizPage.css">
    <link rel="stylesheet" href="~/css/stylePagination.css">
    <!--icon file-->
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/4832/4832401.png">
    <script>
        var currentPage = @Model.PageNumber;
        var totalPage = @Model.TotalPages;
        var LicenseID = `@licenseid`;
        var status = `@status`;
    </script>
    <title>L2D - Thi lý thuyết thử</title>
</head>

<body>
    <div class="container-fluid" style="margin-top: 100px;">
        <h1 class="text-center hidden-load">Thi lý thuyết thử</h1>
        <section class="filter-section hidden-load">
            <form action="/Quiz" id="filterForm">
                <div class="input-group mb-3 hidden-load">
                    <select class="form-select" name="licenseid" id="license_option">
                        <option selected value="none">Chọn hạng bằng lái</option>
                        <option value="A1">A1</option>
                        <option value="A2">A2</option>
                        <option value="A3">A3</option>
                        <option value="A4">A4</option>
                        <option value="B1">B1</option>
                        <option value="B2">B2</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="FB2">FB2</option>
                        <option value="FC">FC</option>
                        <option value="FD">FD</option>
                        <option value="FE">FE</option>
                    </select>
                </div>
                <div class="input-group mb-3 hidden-load">
                    <select class="form-select" name="status" id="status_option">
                        <option selected value="none">Trạng thái</option>
                        <option value="done">Đã làm </option>
                        <option value="notdone">Chưa làm</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-outline-success submit-button">Tìm kiếm</button>
            </form>
        </section>
    </div>
    <div class="container">
        <section class="quiz-section mt-3">
            @if (quizList is not null && quizList.Count() > 0)
            {
                @foreach (var quiz in quizList)
                {
                    <div class="card hidden-load quiz-card" qid="@quiz.QuizId">
                        <div class="card-body">
                            <h5 class="card-title">@quiz.Name</h5>
                            <h6 class="card-subtitle mb-2 status"></h6>
                            <button type="button" class="btn btn-primary">Bằng @quiz.LicenseId</button>
                            <button type="button" class="btn btn-outline-primary" onclick="location.href='/Quiz/StartQuiz?quizid=@quiz.QuizId';">Làm</button>
                        </div>
                    </div>
                }
                @if (@quizList.Count() < 3)
                {
                    @for (int i = 1; i <= 4 - quizList.Count(); ++i)
                    {
                        <div class="card" style="border: none;">
                            <div class="card-body">
                                <h5 class="card-title"></h5>
                                <h6 class="card-subtitle mb-2">
                                </h6>
                            </div>
                        </div>
                    }
                }
            }
            else
            {
                <h2 class="text-center hidden-load">Không có kết quả</h2>
            }
        </section>
    </div>
    <div class="pagination hidden-load">
        <button class="pagination__arrow" onclick="goToPrevPage();">
            <span class="pagination__arrow-half"></span>
            <span class="pagination__arrow-half"></span>
        </button>
        @for (int i = 1; i <= Model.TotalPages; ++i)
        {
            <div class="page_item" cnt="@i" onclick="goToPage(this);">
                <div class="pagination__number">@i</div>
                <div class="page-circle"></div>
            </div>
        }
        <button class="pagination__arrow pagination__arrow--right" onclick="goToNextPage();">
            <span class="pagination__arrow-half"></span>
            <span class="pagination__arrow-half"></span>
        </button>
    </div>
    <script src="~/js/SelectQuizPageFunctions.js"></script>
    <script>
        document.querySelector('.quizLink').classList.add('active');
    </script>
</body>

</html>